<template>
  <div>
    <v-row>
      <v-col>
        BOOK
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-carousel hide-delimiters :model-value="defaultPage" height="250">
          <v-carousel-item
            v-for="(treatment, i) in treatments"
            :key="i"
          >
            <treatment-tile :treatment="treatment" class="px-16" />
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-if="availableDoctors.length" cols="4">
        <v-checkbox v-model="anyDoctor" label="Any doctor can treat me" />
        <v-list :disabled="anyDoctor">
          <v-list-item
            v-for="doctor in availableDoctors"
            :key="doctor.id"
            :title="doctor.name"
            :subtitle="doctor.specialization"
            :prepend-avatar="doctor.image"
            :active="selectedDoctor === doctor"
            @click="selectedDoctor = doctor"
          />
        </v-list>
      </v-col>
      <v-col v-else>
        Currently there are no available doctors.
      </v-col>
      <v-col v-if="selectedDoctor || anyDoctor" cols="4">
        dates
      </v-col>
      <v-col v-else>
        Select any doctor or check the "Any doctor can treat me"
      </v-col>
      <v-col v-if="selectedDate" cols="4">
        timeslots
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
const route = useRoute();
const { doctors, treatments } = useData();

const anyDoctor = ref<boolean>(true);
const selectedDoctor = ref<Doctor | null>(null);
const selectedDate = ref<Date | null>(null);
// eslint-disable-next-line no-unused-vars,@typescript-eslint/no-unused-vars
const selectedTimeSlot = ref<string>();

const availableDoctors = computed<Doctor[]>(() => (doctors.value).filter(d => d.treatments.includes(parseInt(route.params.treatment as string))));

const defaultPage = computed<number>(() => {
  return route.params.treatment ? (parseInt(route.params.treatment as string) - 1) : 0;
});
</script>
