<template>
  <div>
    <v-row>
      <v-col>
        <h1 class="text-h1">
          Appointment detail
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur...</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <h3 class="text-h3">
          Welcome to 20x Demo
        </h3>
        <p>Please fill in your personal data</p>
      </v-col>
      <v-col cols="6">
        <v-form>
          <v-container>
            <v-row>
              <v-col cols="6">
                <v-select
                  label="Gender"
                  :items="['Male', 'Female', 'Other']"
                  clearable
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field label="First name" clearable />
              </v-col>
              <v-col>
                <v-text-field label="Last name" clearable />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  label="Email address"
                  placeholder="johndoe@gmail.com"
                  type="email"
                  clearable
                />
              </v-col>
            </v-row>
            <v-divider class="my-3" />
            <v-row>
              <v-col cols="12">
                Birthday
              </v-col>
              <v-col>
                <v-text-field label="Day" type="number" clearable />
              </v-col>
              <v-col>
                <v-text-field label="Month" type="number" clearable />
              </v-col>
              <v-col>
                <v-text-field label="Year" type="number" clearable />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-checkbox
                  color="secondary"
                  label="I agree to site terms and conditions"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-col>
      <v-divider />
      <v-col cols="6">
        <v-row>
          <v-col cols="6">
            BTN
            BTN
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
</script>
