<template>
  <div>
    <v-row>
      <v-col>
        BOOK
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-carousel hide-delimiters :model-value="defaultPage" height="250">
          <v-carousel-item
            v-for="(treatment, i) in treatments"
            :key="i"
          >
            <treatment-tile :treatment="treatment" class="px-16" />
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
const { treatments } = useData();
const route = useRoute();

const defaultPage = computed<number>(() => {
  return route.params.treatment ? (parseInt(route.params.treatment as string) - 1) : 0;
});
</script>
