<template>
  <v-row justify="center">
    <v-col cols="6">
      <h2 class="text-h2">
        Success
      </h2>
      <p>lorem ipsum dolor sit amet, consectetur....</p>
      <v-btn :to="{name: 'book'}">
        Book new appointment
      </v-btn>
      <v-btn :to="{name: 'index'}">
        Back to homepage
      </v-btn>
    </v-col>
  </v-row>
</template>

<script setup lang="ts">
</script>
