<template>
  <v-card>
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-icon v-if="treatment.icon" class="my-auto" :icon="treatment.icon" style="--v-icon-size-multiplier: 4;" />
      <div>
        <v-card-title>{{ treatment.name }}</v-card-title>
        <v-card-text>{{ treatment.description }}</v-card-text>
        <v-card-subtitle>{{ treatment.duration }} min</v-card-subtitle>
        <v-card-actions>
          <v-btn color="primary" flat border :to="{name: 'book-treatment', params: {treatment: treatment.id}}">
            Book
          </v-btn>
        </v-card-actions>
      </div>
    </div>
  </v-card>
</template>

<script setup lang="ts">
defineProps<{treatment: Treatment}>();
</script>
