<template>
  <v-app>
    <v-app-bar flat>
      <v-img src="https://via.placeholder.com/450x60?text=20x+Demo+App+Logo" height="60" width="450" />
      <v-spacer />
      <v-btn v-for="(link, index) in menuLinks" :key="index">
        <nuxt-link :to="{'name': link.routeName}">
          {{ link.text }}
        </nuxt-link>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <slot />
      </v-container>
    </v-main>
    <v-footer>
      &copy; 20x Demo {{ new Date().getFullYear() }}
    </v-footer>
  </v-app>
</template>

<script setup lang="ts">

const menuLinks = ref<{
  text: string
  routeName: string
}[]>([
  { text: "Home", routeName: "index" },
  { text: "Treatments", routeName: "treatment" },
  { text: "Book", routeName: "book" }
]);

</script>
