<template>
  <div>
    <header>
      <v-row>
        <v-col cols="6">
          <h1 class="text-h1">
            Best care
          </h1>
          <p class="text-subtitle-1">
            lorem ipsum dolor sit amet, consectetur
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="5">
          <v-btn class="mr-3" color="primary">
            Btn 1
          </v-btn>
          <v-btn color="secondary">
            Btn 2
          </v-btn>
        </v-col>
        <v-col cols="2">
          <v-icon icon="mdi-arrow-down" />
        </v-col>
        <v-col cols="5" style="text-align: right;">
          item | item | item
        </v-col>
      </v-row>
    </header>
    <main class="mt-5">
      <v-row justify="center">
        <v-col cols="6">
          <v-card id="article-1">
            <v-card-item>
              <v-card-title>
                <h2 class="text-h2">
                  Some article title
                </h2>
              </v-card-title>

              <v-card-subtitle>This is a subtitle</v-card-subtitle>
            </v-card-item>

            <v-card-text>
              <v-img src="https://via.placeholder.com/1000x200?text=20x+Article" height="200" />

              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis gravida nulla. In dapibus augue non sapien. Nulla est. Phasellus rhoncus. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Suspendisse sagittis ultrices augue. Aliquam id dolor. Proin mattis lacinia justo. Et harum quidem rerum facilis est et expedita distinctio. Maecenas libero. Nunc dapibus tortor vel mi dapibus sollicitudin. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Aenean vel massa quis mauris vehicula lacinia. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante.</p>

              <p>Etiam bibendum elit eget erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In enim a arcu imperdiet malesuada. Etiam egestas wisi a erat. Integer pellentesque quam vel velit. Praesent dapibus. Aliquam erat volutpat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Etiam egestas wisi a erat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Integer malesuada. Etiam egestas wisi a erat. Donec iaculis gravida nulla. Cras pede libero, dapibus nec, pretium sit amet, tempor quis.</p>

              <p>Duis viverra diam non justo. Fusce nibh. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Fusce nibh. Sed convallis magna eu sem. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est.</p>

              <p>Aliquam ante. Aliquam in lorem sit amet leo accumsan lacinia. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. In enim a arcu imperdiet malesuada. Duis risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Sed convallis magna eu sem. Etiam neque. Aliquam erat volutpat.</p>

              <p>Vivamus porttitor turpis ac leo. Morbi scelerisque luctus velit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Nulla est. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Maecenas libero. Nullam rhoncus aliquam metus. Pellentesque sapien. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Sed ac dolor sit amet purus malesuada congue. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat.</p>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </main>
  </div>
</template>

<script setup lang="ts">
</script>
