<template>
  <div>
    <v-row>
      <v-col cols="6">
        <h1 class="text-h1">
          Treatments
        </h1>
        <p>Some description</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h3 class="text-h3">
          Do you need help?
        </h3>
        <p>Some more lorem ipsum.....</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="(treatment, index) in treatments" :key="index" cols="3">
        <treatment-tile :treatment="treatment" class="pa-2" />
      </v-col>
    </v-row>
    <v-divider class="my-5" />
    <v-row>
      <v-col v-for="(feature, index) in features" :key="index" cols="4">
        <v-card color="grey">
          <v-icon v-if="feature.icon" class="mx-3 mt-3" :icon="feature.icon" style="--v-icon-size-multiplier: 1.2;" />
          <v-card-title>{{ feature.name }}</v-card-title>
          <v-card-text>{{ feature.description }}</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
const { treatments, features } = useData();
</script>
